body {
  font-family:'Playfair Display', serif;
  background-color: var(--bb-color);
  margin: 0;
  padding: 0;
}

.div {
  max-width: 500px;
  margin: 50px auto;
  background-color: var(--bh-color);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.create-account-page {
  text-align: center;
  margin-bottom: 20px;
}

.register-txt {
  font-size: var(--big-font);
  font-weight: 900;
}

.input-field {
  margin-bottom: 20px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: 800;
}

.input-field input[type="text"],
.input-field input[type="email"],
.input-field input[type="tel"],
.input-field input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="tel"]:focus,
.input-field input[type="password"]:focus {
  outline: none;
  border-color: var(--bu-color);
}

.group {
  width: 100px; /* Adjust the width as needed */
  height: auto;
  display: block;
  margin: 0 auto 20px; /* Center the image and add some bottom margin */
}

.create-account-page {
  text-align: center;
  margin-bottom: 20px;
}

.register-txt {
  font-size: 50px;
  font-weight: bold;
  display: block;
  margin: 0 auto 20px;
}

.create-account-page {
  text-align: center;
  margin-bottom: 20px;
}

.overlap-group-wrapper {
  display: inline-block;
  margin-right: 20px; /* Add some space between the Google and Facebook signup options */
}

.text-wrapper {
  font-size: 16px;
}

.icon-google-wrapper,
.icon-facebook-wrapper {
  margin-top: 10px; /* Adjust vertical alignment */
}

.img-2 {
  width: 40px; /* Adjust the size of the icons as needed */
  height: 40px;
}

.text{
  text-align: center;
}
.txt { 
  text-align: center;
  margin-top: 20px;
  color: var(--other-color);
  margin: 0;
  font-weight: 400;
  font-size: 12px;
}

.policy {
  text-align: center;
  margin: 5px 0;
  font-weight: 700;
  font-size: 14px;
}

.t-&-c {
  cursor: pointer;
  font-weight: 700;
}

button {
  cursor: pointer; 
  width: 120px;
  height: 50px;
  top: 1310px;
  left: 62px;
  border-radius: 7px;
  background-color: var(--rr-color);
  color: white;
  font-size: 20px;
  border: none;
}
